.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 6px;
}

.message-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.message-row-theirs{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.message-bubble {
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  background-color: #0C44C7;
  border-bottom-right-radius: 4px;
}

.bubble-theirs {
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  background-color: #F54927;
  border-bottom-right-radius: 4px;
}